body {
font-family: Arial, Helvetica, sans-serif;
}

.header {
color: #f9faf8;
font-size: 24px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.menu,
.awesome p {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {

}

.hero {

}

.awesome h1 {
font-weight: extra-bold;
color: #f9faf8;
font-size: 48px;
}

.sign-up {
background-color: #3882f6;

}

.img-placeholder {

}

.random {

}

.images {

}

.info {

}

.blue-box {

}

.subtext {

}

.quote {

}

.call-to-action {

}

.cta-text {

}

.footer {

}