body {
font-family: Roboto, sans-serif;
display: flex;
flex-direction: column;
margin: 0;
}

.header {
color: #f9faf8;
font-size: 24px;
display: flex;
justify-content: space-between;
padding: 10px 0 0 0;
}

.top {
    padding: 0 100px;
}

.top,
.footer {
    background-color: #1f2937;
}

.awesome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding-bottom: 6px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 100;
    font-size: .9em;
}

.menu {

}

.hero {
display: flex;
justify-content: space-between;
align-content: center;
gap: 42px;
padding: 100px 0;
}

.awe-title {
font-weight: 900;
color: #f9faf8;
font-size: 48px;
padding: 0;
margin: 0;
}

.sign-up {
background-color: #3882f6;
color: #f9faf8;
padding: 6px 18px;
border-radius: 5px;
}

.img-placeholder {
background-color: #6f6f6f;
color: #e5e7eb;
width: 450px;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}

.random {
color: #1f2937;
}

.random h2 {
    font-weight: extra-bold;
    font-size: 36px;
}

.images {

}

.info {

}

.blue-box {
border: 2px solid #3882f6;
border-radius: 25px;
height: 150px;
width: 150px;
}

.subtext {
color: #6f6f6f;
font-size: .9em;
}

.quote {
background-color: #e5e7eb;
}

.qt {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.qa {
    font-weight: bold;
}

.call-to-action {
background-color: #3882f6;
color: #f9faf8;
}

.cta-text {

}

.cta-text div {
    font-weight: 100;
    font-size: .9em;
}

.call-to-action .sign-up {
    border: 1px solid #f9faf8;
    border-radius: 25px;
}

.footer {
font-size: .9em;
color: #f9faf8;
}